.card {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  .card h1 {
    margin-bottom: 10px;
  }
  
  .card p {
    margin-bottom: 20px;
  }
  
  .cardImage {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
  }
  
  .image {
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .image:hover {
    transform: scale(1.1);
  }
  