.background {
    background-image: url('../../assets/banner.png');
    width: 100%;
    height: 65vh;
    background-position: center;
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Inter";
}

.container {
    width: 100%;
    max-width: 1440px;
    padding-top: 8.5rem;
}

.Infos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Infos h1{
    font-weight: 700;
    font-size: 3rem;
}

.Infos p{
    font-weight: 400;
    font-size: 1.2rem;
}

.Infos button {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    padding: 1rem 3rem;
    color: #ffff;
    border-radius: 7px;
    font-size: 1rem;
    width: 300px;
}

